@model MisGastos.Entities.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - MisGastos</title>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ingresar</h5>
                        @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { id = "LoginForm", @class = "form-signin" }))
                        {
                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.Username, new { id = "username", @class = "form-control", type = "text", placeholder = "Nombre de usuario" })
                                <label for="username">Nombre de usuario</label>
                            </div>

                            <div class="form-label-group">
                                @Html.TextBoxFor(model => model.Password, new { id = "password", @class = "form-control", type = "password", placeholder = "Contraseña" })
                                <label for="password">Contraseña</label>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Recordar contraseña</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Entrar!</button>
                        }

                        <!-- Validation Summary-->
                        <div class="validationSummary alert alert-danger mgBottom0 mgTop1" style="display: none" role="alert"></div>
                        <!-- Validation Summary-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@Styles.Render("~/Content/General.css")
@Styles.Render("~/Content/Login.css")
@Styles.Render("~/Content/ValidationSummary.css")
@Styles.Render("~/Content/bootstrap.min.css")
@Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
@Scripts.Render("~/Scripts/bootstrap.js")
@Scripts.Render("~/Scripts/app/general.js")
@Scripts.Render("~/Scripts/app/validationSummary.js")

<script type="text/javascript">

    var _validationSummary = new ValidationSummary();

    $(document).ready(function () {

        bindForm({
            selector: "#LoginForm",
            validateForm: validateForm
        });

    });

    function validateForm() {

        var anyError = false;
        var errorList = [];

        if (!$("#username").val()) {
            errorList.push("El usuario es obligatorio.");
            anyError = true;
        }

        if (!$("#password").val()) {
            errorList.push("La contraseña es obligatoria.");
            anyError = true;
        }

        _validationSummary.initialize();

        if (anyError) {
            _validationSummary.show({
                list: errorList
            });
        } else {
            return true;
        }


    }

</script>